doctype html
html(ng-app="mirpm")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title
      = locals.title
    meta(name="description" content="Modular Interconnected Robotics Platform and Mesh-net")
    meta(name="viewport" content="width=device-width")
    link(rel="shortcut icon" href="/favicon.ico?")
    
    each href in locals.css 
      link(rel="stylesheet" href=href)

    each src in locals.js
      script(src=src)
  body
    h1 Hello World!